tensorflow==2.13
Pillow==10.0.0
pandas==2.0.3
numpy==1.24.3
scipy==1.10.1
tqdm==4.65.0
optuna==3.3.0
matplotlib==3.7.2
optuna-dashboard==0.11.0
jupyter
notebook
matplotlib
kaggle
pyarrow
optuna-dashboard